// Reset default styles
@import "reset";

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

// Colors
$bg: #fff6f1;
$box_bg: #fee8db;
$box_border: #243347;
$box_shadow: #e3efe5;
$underline: #f7a28b;

// Fonts & sizes
$font: "Work Sans", sans-serif;
$mobile_nav: 1.75rem;
$mobile_nav_lh: 2.5rem;
$h1: 2rem;
$h1_lh: 2.45rem;
$body: 1.1rem;
$body_lh: 1.35rem;

// Skip link
.skip_to_main_content {
  background: #e77e23;
  height: 30px;
  left: 0;
  top: 0;
  padding: 8px;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 0.3s;
  &:focus {
    transform: translateY(0%);
  }
}

// Mobile nav
nav {
  display: none;
  &.active {
    display: block;
    height: 10000vh;
    padding-top: 15%;
    ul {
      li {
        font-size: $mobile_nav;
        line-height: $mobile_nav_lh;
      }
    }
  }
}
#nav_toggle {
  display: block;
  position: absolute;
  z-index: 2;
  top: 22px;
  right: 0;
  background: transparent;
  height: 60px;
  width: 60px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span {
    &,
    &:before,
    &:after {
      height: 2px;
      width: 33px;
      background: $box_border;
      position: absolute;
      display: block;
      content: "";
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  &.active {
    span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
}

// Header styles
header {
  padding: 1.25rem 0;
  width: 100%;
  .logo {
    width: 13rem;
  }
  // Fixed header
  &.scrolled {
    position: fixed;
    background-color: $bg;
    border-bottom: 2px solid $box_border;
    box-shadow: 0px 5px 15px rgba(248, 148, 130, 0.35);
    z-index: 2;
    padding: 0.6rem 0;
    #nav_toggle {
      top: 12px;
    }
  }
}

// Header styles
h1 {
  font-size: $h1;
  line-height: $h1_lh;
  font-weight: 300;
  text-transform: lowercase;
  display: inline;
  padding-bottom: 4px;
  background:
        // make the underline dashed
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 7px,
      $bg 7px,
      $bg 14px
    ),
    // draw the underline
    linear-gradient(
        to top,
        rgba(255, 0, 0, 0) 5px,
        $underline 5px,
        $underline 7px,
        rgba(255, 0, 0, 0) 7px
      );
}
.title {
  margin: 2rem 0 1.25rem 0;
}

// Body styles
body {
  background-color: $bg;
  font-family: $font;
  font-weight: 400;
  font-size: $body;
  line-height: $body_lh;
  &.scrolled {
    main {
      padding-top: 75px;
    }
  }
  &.no_scroll {
    overflow: hidden;
  }
}

.inner_content {
  width: 90%;
  margin: 0 auto;
  &.boxed_content {
    background-color: $box_bg;
    border: 2px solid $box_border;
    padding: 1.5rem;
    box-shadow: 0.5rem 0.75rem $box_shadow;
    .title {
      margin-top: -0.5rem;
    }
    h1 {
      background:
        // make the underline dashed
        repeating-linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 7px,
          $box_bg 7px,
          $box_bg 14px
        ),
        // draw the underline
        linear-gradient(
            to top,
            rgba(255, 0, 0, 0) 5px,
            $underline 5px,
            $underline 7px,
            rgba(255, 0, 0, 0) 7px
          );
    }
  }
}

#select_category {
  h1 {
    margin-top: 3rem;
  }
}

// Style list to include "Step X:"
ol.steps {
  counter-reset: step_counter;
  & > li {
    position: relative;
    margin-left: 4.55rem;
    margin-top: 1rem;
    &:before {
      content: "Step " counter(step_counter) ": ";
      counter-increment: step_counter;
      position: absolute;
      left: -4.55rem;
    }
  }
}
