// Reset default styles
@import "reset";

// Import variables
@import "variables";

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

// Skip link
.skip_to_main_content {
  background: #e77e23;
  height: 30px;
  left: 0;
  top: 0;
  padding: 8px;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 0.3s;
  &:focus {
    transform: translateY(0%);
  }
}

// Mobile nav
nav {
  display: none;
  ul {
    li {
      font-size: $mobile_nav;
      line-height: $mobile_nav_lh;
      margin-bottom: 0.5rem;
      a {
        text-decoration: none;
        color: $dark_blue;
        text-transform: lowercase;
        padding: 0.35rem 0;
        &:hover {
          background:
        // make the underline dashed
            repeating-linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0) 7px,
              $white 7px,
              $white 14px
            ),
            // draw the underline
            linear-gradient(
                to top,
                rgba(255, 0, 0, 0) 5px,
                $md_pink 5px,
                $md_pink 7px,
                rgba(255, 0, 0, 0) 7px
              );
        }
      }
    }
  }
  &.active {
    display: block;
    height: 10000vh;
    padding-top: 15%;
  }
}
#nav_toggle {
  display: block;
  position: absolute;
  z-index: 2;
  top: 22px;
  right: 0;
  background: transparent;
  height: 60px;
  width: 60px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span {
    &,
    &:before,
    &:after {
      height: 2px;
      width: 33px;
      background: $dark_blue;
      position: absolute;
      display: block;
      content: "";
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
    &:before {
      top: -9.5px;
    }
    &:after {
      bottom: -9.6px;
    }
  }
  &.active {
    span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
}

// Header styles
header {
  padding: 1.25rem 0;
  width: 100%;
  .logo {
    width: 13rem;
  }
  // Fixed header
  &.scrolled {
    position: fixed;
    background-color: $white;
    border-bottom: 2px solid $dark_blue;
    box-shadow: 0px 5px 15px rgba(248, 148, 130, 0.35);
    z-index: 2;
    padding: 0.6rem 0;
    #nav_toggle {
      top: 12px;
    }
  }
}

// Header styles
h1 {
  font-size: $h1;
  line-height: $h1_lh;
  font-weight: 300;
  text-transform: lowercase;
  display: inline;
  padding-bottom: 4px;
  background:
        // make the underline dashed
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 7px,
      $white 7px,
      $white 14px
    ),
    // draw the underline
    linear-gradient(
        to top,
        rgba(255, 0, 0, 0) 5px,
        $md_pink 5px,
        $md_pink 7px,
        rgba(255, 0, 0, 0) 7px
      );
}
h2 {
  text-transform: lowercase;
  font-size: $h2;
  line-height: $h2_lh;
}
.title {
  margin: 2rem 0 1.25rem 0;
}

// Body styles
body {
  background-color: $white;
  font-family: $global_font;
  font-weight: 400;
  font-size: $body;
  line-height: $body_lh;
  &.scrolled {
    main {
      padding-top: 75px;
    }
  }
  &.no_scroll {
    overflow: hidden;
  }
}

.inner_content {
  width: 90%;
  margin: 0 auto;
  &.boxed_content {
    background-color: $light_pink;
    border: 2px solid $dark_blue;
    padding: 1.5rem;
    box-shadow: 0.5rem 0.75rem $light_green;
    margin-top: 1rem;
    .title {
      margin-top: -0.5rem;
    }
    h1 {
      background:
        // make the underline dashed
        repeating-linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0) 7px,
          $light_pink 7px,
          $light_pink 14px
        ),
        // draw the underline
        linear-gradient(
            to top,
            rgba(255, 0, 0, 0) 5px,
            $md_pink 5px,
            $md_pink 7px,
            rgba(255, 0, 0, 0) 7px
          );
    }
  }
}

// Style list to include "Step X:"
ol.steps {
  counter-reset: step_counter;
  & > li {
    position: relative;
    margin-left: 4.55rem;
    margin-top: 1rem;
    &:before {
      content: "Step " counter(step_counter) ": ";
      counter-increment: step_counter;
      position: absolute;
      left: -4.55rem;
    }
  }
}

#select_category {
  margin-top: 4rem;
}

// Category styles
.category_container {
  margin: 3rem auto;
  text-align: center;
  a {
    color: $dark_blue;
    &:hover {
      .category_icon {
        background-color: $light_green;
        box-shadow: 0.5rem 0.75rem $dark_blue;
        h2 {
          background:
        // make the underline dashed
            repeating-linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0) 7px,
              $light_green 7px,
              $light_green 14px
            ),
            // draw the underline
            linear-gradient(
                to top,
                rgba(255, 0, 0, 0) 5px,
                $md_pink 5px,
                $md_pink 7px,
                rgba(255, 0, 0, 0) 7px
              );
        }
      }
    }
  }
}
.category_icon {
  margin: 0 auto;
  text-align: center;
  width: 14rem;
  height: 14rem;
  background-color: $light_pink;
  border: 2px solid $dark_blue;
  border-radius: 100%;
  box-shadow: 0.5rem 0.75rem $light_green;
  img {
    width: 7.25rem;
    padding-top: 1.75rem;
    padding-bottom: 0.85rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    display: inline-block;
  }
}

// Footer styles
footer {
  background-color: $light_pink;
  padding: 1rem 0;
  text-transform: lowercase;
  border-top: 2px solid $dark_blue;
  margin-top: 4rem;
}
