// Colors
$white: #fff6f1;
$light_pink: #fee8db;
$dark_blue: #243347;
$light_green: #e3efe5;
$md_pink: #f7a28b;
$black: #000000;

// Fonts & sizes
$global_font: "Work Sans", sans-serif;
$mobile_nav: 1.75rem;
$mobile_nav_lh: 2.5rem;
$h1: 2rem;
$h1_lh: 2.45rem;
$h2: 1.55rem;
$h2_lh: 2.15rem;
$body: 1.1rem;
$body_lh: 1.35rem;
